.titulo{
    font-family: var(--letra-mayus);
    color: var(--color-blancoperlado);
    font-size: 2rem;
    margin: 1rem;
    margin-bottom: 2rem;
}
/*efecto de lineas*/
.titulo::after {
    content: "";
    display: block;
    height: 3px;
    background-color: var(--color-principal);
    transform: scale(0,3);
    transform-origin: left;
    transition: transform .50s;
    
}
.colum1:hover .titulo::after {
    transform: scale(1,1);
}
.colum2:hover .titulo::after {
transform: scale(1,1);
}
@media screen and (max-width: 500px){
    .titulo{
        font-size: 1.8rem;
    }
}