<div class="container-fluid px-1 py-5 formPadre">
    <div class="container-lg py-5 px-5">
        <h4 class="text-center tituloExpForm">Editar Hard y Soft Skills</h4>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="form-control" >
            <div class="form-outline mb-4">
                <label for="nombre" class="form-label">Nueva Skill</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required placeholder="nombre de la skill">
            </div>
        
            <div class="form-outline mb-4">
                <label for="porcentaje" class="form-label">Porcentaje</label>
                <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required placeholder=" xx %">
            </div>
             <!-- Submit button  -->
            <div class="text-center">
                <button type="submit" class="btn btn-block mb-4">ACTUALIZAR</button>
            </div>
        </form>
    </div>
</div>
