<nav class="barra">
    <div class="logo">
        <img src="../../../assets/img/logo2ArgProg.png" alt="">
    </div>
    <ul class="nav-lista">
        <li><a href="">acerca de mi</a></li>
        <li><a href="">mis proyectos</a></li>
        <li><a href="">educación</a></li>
    </ul>

    <ul class="nav-lista" style="background-color: aliceblue; border-radius: 1rem;">
        <li><a href=""><i class="bi bi-github logo-github"></i></a></li>
        <li><a href=""><i class="bi bi-linkedin logo-linke"></i></a></li>
        <li><button class="logo-ingresar" ><i class="bi bi-person-circle"></i></button></li>
    </ul>
</nav>



