.barra{
    background-color: var(--color-principal-negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem ;
    font-family: 'Bruno Ace', cursive;
}
.nav-lista{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0.2rem;
    padding: 0;
}
.nav-lista li{
    margin: 0.71rem;
}
.nav-lista li a{
    font-size: 1rem;
    color: var(--color-blancoperlado);
}

.nav-lista li::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--color-principal);
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .30s;
    
}
.nav-lista li:hover::after {
    transform: scale(1,1);
}


.nav-lista2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.2rem;
    background-color: var(--color-blancoperlado);
    border-radius: 1rem;
}
.nav-lista2 li {
    margin: 0.2rem;
    padding: 0.2rem 0.45rem;
    border-radius: 0.8rem;
}
.nav-lista2 li:hover{
    opacity: 0.5;
}
.logo-linke{
    color: #0e76a8;
    font-size: 1.6rem;
}
.logo-github{
    color: black;
    font-size: 1.6rem;
}
.logo-ingresar{
    font-size: 1.6rem;
    border: none;
    background-color:transparent;
}
.nav-cerrar, .nav-abrir {
    display: none;
}

@media screen and (max-width: 820px) {
    .barra{
        padding-right: 0;
    }
    .nav-cerrar, .nav-abrir {
        display: block;
    }
    .nav-lista{
        position: absolute;
        flex-direction: column;
        background-color: var(--color-principal-negro);
        align-items: center;
        justify-content:start;
        top: 0;
        right: 0%;
        bottom: -1%;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        z-index: 10;
    }
    .nav-cerrar{
        font-size: 1.6rem;
        border: none;
        background-color:transparent;
        color: var(--color-principal-negro);
        padding: 0.15rem 0.65rem;
        border-radius: 50%;
        background-color: var(--color-principal);
        margin-bottom: 1rem;
    }
    .visible{
        visibility: visible;
        opacity: 1;
        animation-name: entrada;
        animation-duration: 0.8s;
    }
@keyframes entrada {
    0%{
        right: -10%;
    }
    100%{
        right: 0%;
    }
}
    .ocultar{
        transition:ease-in-out;
        transition-duration: 0.2s;
        opacity: 0;
        visibility: hidden;
        animation-name: salida;
        animation-duration: 0.8s;
    }
    @keyframes salida {
        0%{
            right: 0%;
        }
        100%{
            right: -10%;
        }
    }

}
@media screen and (max-width: 400px){
    .nav-lista2 li {
        margin: 0.2rem;
        padding: 0.2rem;
        border-radius: 0.8rem;
    }
    .logo img{
        width: 80%;
    }
}