<section  class="container-fluid sobreMi">
    <div class="container-lg">
        <h3 class="sobreMi-titulo row">Acerca de mí</h3>
        <div class="row d-flex text-center align-items-center justify-content-around">
            <div class="col-4 " style="position: relative; z-index: 10;">
                <img  class="img-fluid sobreMi-img" src="../../../assets/img/draw/sentadoEscritorio_feeling_proud_colorF9A826.svg" alt="">
                <div class="sobreMi-img-piso"></div>
            </div>
            <div class="col-7">
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis at doloribus voluptates ea voluptas quam magni aliquid modi repudiandae. Eligendi minima veniam asperiores quam beatae, nam quia nihil, quod culpa, consectetur ea? Quod ipsum praesentium provident aliquid incidunt deserunt natus ullam assumenda cumque, ut fuga reprehenderit quidem, magnam, obcaecati consequuntur.</p>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis at doloribus voluptates ea voluptas quam magni aliquid modi repudiandae. Eligendi minima veniam asperiores quam beatae, nam quia nihil, quod culpa, consectetur ea? Q.</p>
            </div>
        </div>

    </div>
</section>