.sobreMi{
    background-color: var(--color-blancoperlado);
    height: 100vh;
    padding: 2rem;
    display: flex;
    align-items: center;
}
.sobreMi-titulo{
    font-family: var(--letra-mayus);
    font-size: 2.3rem;
    margin-bottom: 2rem;
    padding: 1rem;
    color: var(--color-principal-negro);
}
.contSobreMi{
    position: relative;
    z-index: 1;
}
.sobreMi-img{
    width: 400px;
}
.sobreMi-img-piso{
    background-color: var(--color-secundario);
    width: 100%;
    height: 28%;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 0%;
    z-index: -1;
}
.sobreMi-parrafo{
    color: var(--color-principal-negro);
    font-size: 1rem;
}