.sobreMi{
    background-color: var(--color-blancoperlado);
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.sobreMi-titulo{
    font-family: var(--letra-mayus);
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    color: var(--color-principal-negro);
    background-color: aqua;
}
.contSobreMi{
    position: relative;
    z-index: 1;
}
.sobreMi-img{
    width: 400px;
}
.sobreMi-img-piso{
    background-color: var(--color-secundario);
    width: 100%;
    height: 28%;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 0%;
    z-index: -1;
}
.sobreMi-parrafo{
    color: var(--color-principal-negro);
    font-size: 1rem;
}

@media screen and (max-width: 767px){
    .contSobreMi{
        margin-bottom: 2rem;
    }
    .sobreMi-titulo{
        font-size:1.8rem ;
    }

}
@media screen and (max-width: 500px){
    .sobreMi-parrafo{
        font-size: 0.8rem;
    }
}