.contLi{
    margin: 1.5rem 0rem;
}
.titulo{
    color: var(--color-blancoperlado);
    font-size: 1.3rem;
    margin: 0 0.5rem;
}
.subtitulo{
    color: var(--color-grisclaro);
    font-size: 1rem;
}
.descrip{
    font-size: 1rem;
    margin: 0.2rem 0rem;
    color: rgba(240, 248, 255, 0.932);
}
.titulo::after {
    content: "";
    display: block;
    height: 3px;
    width: 80%;
    background-color: var(--color-secundario);
    transform: scale(0,1);
    transform-origin: left;
    transition: transform .50s;
    
}
.contLi:hover .titulo::after {
    transform: scale(1,1);
}
.contLi:hover .flecha{
    color: var(--color-secundario);
    transform: scale(1,1);
}
.flecha{
    color: #e2a703;
    font-size: 1.2rem;
    transform: scale(0.8,1);
    transform-origin: left;
    transition: transform .20s;
}