<li class="d-flex contLi">
    <div class="barra">
        <i class="fa-solid fa-arrow-right-long flecha"></i>
    </div> 
    <div>
        <h5 class="titulo"> {{trabajosData.nombreE}} <span class="subtitulo"> {{trabajosData.duracionE}} </span></h5>
        <p class="descrip">{{trabajosData.descripcionE}}</p>
        <div class="d-flex" *ngIf="tienePermiso">
            <button type="button" class="btn btn-warning" routerLink="/editarexp/{{trabajosData.id}}">
                <i class="fa-solid fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-danger botonEliminar" (click)="deleteWork(trabajosData)">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>
</li>

