
<div class="banner-container d-flex align-items-center justify-content-center h-100">
    <div class="container-lg">
        <div class="row">
            <div class="col-sx-12 col-md-7 d-flex align-items-center">
                <div class="banner-container-descripcion">
                    <span>bienvenido a mi portfolio</span>
                    <h1>Hola soy <b class="resaltado">{{nombre}}</b></h1>
                    <h2>Full stack developer</h2>
                    <div class="tecnologias">
                        <div><i class="fa-brands fa-html5"></i><span> HTMl</span></div>
                        <div><i class="fa-brands fa-css3-alt"></i><span> CSS</span></div>
                        <div><i class="fa-brands fa-square-js"></i><span> JavaScript</span></div>
                        <div><i class="fa-brands fa-java"></i><span> Java</span></div>
                        <div><i class="fa-brands fa-angular"></i><span> Angular</span></div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <button class="contacto">contacto!</button>
                        <button class="contacto">descubrir más</button>
                    </div>
                </div>
            </div>
            <div (click)="mostrarfoto()" class="banner-container-imagen col-xs-8 col-md-5">
                <div class="banner-container-imagen-luz"></div>
                <img class="img-fluid banner-container-imagen-pre" id="bannerImg" src="{{imgEstandar}}"  alt="">
                <div [className]="clasePerfil"><img class="img-fluid" src="../../../assets/img/fotoperfil.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
