
<div class="banner-container d-flex align-items-center justify-content-center h-100">
    <div class="banner-container-descripcion">
        <span>bienvenido a mi portfolio</span>
        <h1>Hola soy <b class="resaltado">{{nombre}}</b></h1>
        <h2>Full stack developer</h2>
        <div class="tecnologias">
            <div><i class="fa-brands fa-html5"></i><span> HTMl</span></div>
            <div><i class="fa-brands fa-css3-alt"></i><span> CSS</span></div>
            <div><i class="fa-brands fa-square-js"></i><span> JavaScript</span></div>
            <div><i class="fa-brands fa-java"></i><span> Java</span></div>
            <div><i class="fa-brands fa-angular"></i><span> Angular</span></div>
        </div>
        <div class="d-flex justify-content-start">
            <button class="contacto">contacto!</button>
            <button class="contacto">descubrir más</button>
        </div>
    </div>
    <div class="banner-container-imagen">
        <img src="../../../assets/img/draw/programando_designer.svg"  alt="">
    </div>
</div>
