.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}
.boton-login{
    padding-left: 2.5rem; 
    padding-right: 2.5rem; 
    background-color: var(--color-secundario);
    color: var(--color-principal-negro);
    border-color: var(--color-secundario);
    transition: 0.51s;
}
.boton-login:hover{
    color: aliceblue;
    border-color: aliceblue;
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
